<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gal.invitation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_my_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Screens.ContactList"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_contacts_list"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Screens.Register"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Screens.Login"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".Screens.SendInvitations"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Screens.Profile"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Screens.CreateInvitation"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Screens.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Screens.CreateInvitationPic" />
        <activity android:name=".Screens.ManageGuestList"></activity>
    </application>

</manifest>