<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gal.invitation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Screens.ContactList"
            android:label="@string/title_activity_contacts_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Screens.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Reservation"
            android:label="@string/title_activity_reservation"
            android:theme="@style/AppTheme" />
        <activity android:name=".Screens.CreateInvitation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Screens.SendInvitations" />
        <activity android:name=".Screens.Profile" />
    <activity android:name=".Screens.Login"/>

    </application>

</manifest>